// Colours
//////////

$colour_background: #efefef;
$colour_lex_green: #33cc33;

// Colours for panels / blog

$colour_panel_heading: #cacaca;
$colour_blog_subheading: #c0c0c0;

// Colours for nav-bar

$colour_navbar_foreground: white;
$colour_navbar_background: black;
$colour_navbar_highlight: $colour_lex_green;
